.comment {
    padding: 10px 20px;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    margin-bottom: 10px;
    .title {
        font-size: 20px;
        font-weight: bold;
        margin: 1px 20px;
    }

    .contentText {
        padding: 10px 20px;
    }

    .data-title {
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
    }
    .action{
        display: flex;
        justify-content: space-between;
    }
    .add-comment{
        width: 80%;
    }
    .report-comment{
        width: 10%;
    }
    .mat-accordion{
        width: 100%;
    }
}
.add-comment{
    margin-top: 50px;
}

@media only screen and (max-width: 600px) {
    .comment {
        .action{
            display: block;
        }
    }
}


.inner-comments{
    margin-top: 10px;
}